{{template "base" .}}



{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti qui sed molestias cumque
                eligendi nostrum eum in, inventore consequatur fugit alias! Amet veritatis ab sunt dignissimos neque
                asperiores ipsum.</p>
        </div>
    </div>
</div>
{{end}}
{{define "css"}}
{{end}}
{{define "js"}}
{{end}}